<div class="main-container">
  <h1>Petition - save historical heritage of Kaliningrad!</h1>
  <div class="image-container"><img src="../img.jpg"></div>
  <form method="POST" name="form" action="/kaliningrad">
  	<input id="sig-input" type="hidden" name="sig">
	  	<div id="input-container">
     	<input class="name" name="first" placeholder="First Name"></input>
      	<input class="name" name="last" placeholder="Last Name"></input>
	  	</div>
	  	<div class="canvas-img"><canvas id="canvas" width="400" height="156"></canvas></div>
	  	<div id="button"><button type="submit">SUBMIT</button></div>
  </form>
  
 
</div>
<script src="../client.js" charset="utf-8"></script>
