<div class="main-container">
    <h1>Petition - save historical heritage of Kaliningrad!</h1>
    <div class="input-container">
        <p class="reg-form">Please LogIn</p>
        <form method="POST" name="form" action="/login">
            <input class="input" type="email" name="email" placeholder="Email address" required></input>
            <input class="input" name="password" placeholder="Password" required></input>
            <div class="button"><button type="submit">Log In</button></div> 	
        </form>
    </div>
</div>