<div class="main-container">
	<h1>Sign Petition</h1>
	<div class="input-container">
		<form method="POST" name="form" action="/petition">
		<input id="sig-input" type="hidden" name="sig"></input>
		<div class="canvas-img"><canvas id="canvas" width="400" height="156"></canvas></div>
		<div class="button"><button type="submit">SUBMIT</button></div>
		</form>
	</div>
</div>
<script src="../client.js" charset="utf-8"></script>