<div class="main-container">
    <h1>We will glad to know you better.</h1>
    <div class="input-container">
        <p class="reg-form">Fill the Form</p>
        <form method="POST" name="form" action="/profile">
    	  	<div id="input-container">
         	<input class="input" name="age" placeholder="Age"></input>
          	<input class="input" name="city" placeholder="City"></input>
            <input class="input" name="homepage" placeholder="homepage"></input>
            <div class="button"><button type="submit">CONTINUE</button></div>  	
        </form>
    </div>
</div>

<!-- //W w -->