<div class="main-container">
     <h1>Petition - save historical heritage of Kaliningrad!</h1>
    <div class="input-container">
        <p class="reg-form">Registration Form</p>
        <form method="POST" name="form" action="/register">
         	<input class="input" name="first" placeholder="First Name" required></input>
          	<input class="input" name="last" placeholder="Last Name" required></input>
            <input class="input" type="email" name="email" placeholder="Email address" required></input>
            <input class="input" name="password" placeholder="Password" required></input>
            <div class="button"><button type="submit">SIGN UP</button></div> 	 	
        </form>
        <p>If you are already a member, <br>please <a class="link" href="/login">Log in</a></br></p>
    </div> 
</div>

<!-- //w -->

