<div class="main-container">
	<h1>Thank you for signing!</h1>
	<div class="input-container">
		<div class="canvas-img"><img src={{img}}></div>
		<a class="link" href="/signers">See all {{num}} signers</a>
		<a class="link" href="/edit_profile">Edit your profile</a>
		<a class="link" href="delete-sig">Delete your signature</a> 
	</div>
</div>
